<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <form>
                        <div class="form-group">
                            <label for="inputAddress">Nome</label>
                            <input type="text" class="form-control" id="name" placeholder="João Pedro Moraes">
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4"
                                    placeholder="ex: joao.moraes@outlook.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Senha</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputAddress">login</label>
                                <input type="text" class="form-control" id="login" placeholder="ex: João Pedro Moraes">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Idade</label>
                                <input type="number" class="form-control" id="age" placeholder="ex: 26">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress">Status</label>
                                <select class="custom-select mr-sm-2" id="status">
                                    <!-- <option selected>Choose...</option> -->
                                    <option value="ativo">Ativo</option>
                                    <option value="inativo">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">CADASTRAR</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>