<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <th>{{ usuario.id }}</th>
            <td>{{ usuario.name }}</td>
            <td>{{ (usuario.status ? "Ativo" : "Inativo") }}</td>


            <!-- Button trigger modal -->
            <th>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                    [attr.data-target]="'#modal'+ usuario.id">Informações
                </button>
            </th>
            <!-- Modal -->
            <div class="modal fade" id="modal{{ usuario.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Informações</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- <p><strong>ID: </strong>{{ usuario.id }}</p>
                            <p><strong>Nome: </strong>{{ usuario.name }}</p>
                            <p><strong>E-mail: </strong>{{ usuario.mail }}</p>
                            <p><strong>Idade: </strong>{{ usuario.age }}</p>
                            <p><strong>Status: </strong>{{ (usuario.status ? "Ativo" : "Inativo") }}</p>
                            <p><strong>Login: </strong>{{ usuario.login }}</p>
                            <p><strong>Senha: </strong>{{ usuario.password }}</p> -->
                            <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th>Id</th><td>{{ usuario.id }}</td>
                                  </tr>
                                  <tr>
                                    <th>Nome</th><td>{{ usuario.name }}</td>
                                  </tr>
                                  <tr>
                                    <th>E-mail</th><td>{{ usuario.mail }}</td>
                                  </tr>
                                  <tr>
                                    <th>Idade</th><td>{{ usuario.age }} anos</td>
                                  </tr>
                                  <tr>
                                    <th>Status</th><td>{{ (usuario.status ? "Ativo" : "Inativo") }}</td>
                                  </tr>
                                  <tr>
                                    <th>Login</th><td>{{ usuario.login }}</td>
                                  </tr>
                                  <tr>
                                    <th>Senha</th><td>{{ usuario.password }}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
</table>